%ul#home{ :title => 'UpHCal', :selected => 'true' }
  - @entries.each_with_index do |e, i|
    %li
      %a{ :href => '#entry'+e[:id].to_s }>= e[:title].word_shorten(28)

- @entries.each_with_index do |e, i|
  %div{ :id => 'entry'+e[:id].to_s, :class => 'panel', :title => e[:title].word_shorten(28) }
    %h2= e[:title]
    %fieldset
      .row
        %label Zeit
        - if e[:start]
          %span= e[:start] + (e[:end] ? " bis #{e[:end]}" : '') + ' Uhr'
        - else
          %span= 'keine Zeitangabe'
      .row
        %label Raum
        %span= e[:room] ? "Raum #{e[:room]}" : 'keine Raumangabe'
      - if e[:link]
        .row
          %label URL
          %span
            %a{ :href => e[:link], :target => '_self' }> zur Projektseite
